.nnhelpers-be-module {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
}

.nnhelpers-be-module.scrollable {
    max-height: 100vh;
    overflow-y: auto;
}

.nnhelpers-be-module a {
    text-decoration: none;
}

.nav-pills {
    background: linear-gradient(45deg, #e8e8e8, #f4f4f4);
    font-size: 0.9rem;
}

.nav-pills .nav-link {
    border-radius: 0;
    padding: 0.5rem 1rem 0.3rem 1rem;
    cursor: pointer;
    color: inherit;
}

.nav-pills .nav-link.active {
    color: #000;
    background: #ddd;
    border-bottom: 0.2rem solid #7090af;
}

.nav-pills .nav-item a:hover {
    background: #ddd;
} 

.nav-pills .nav-link.active i {
    color: #708faf;
} 

.form-control, .nav-link, .btn {
    border-radius: 0;
}

.testbed .form-control {
    height: 2.25rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
}

.donate h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.donate hr {
    margin: 30px 0;
}

.donate p a {
    color: #ff6600;
    font-weight: 600;
}

.donate p b {
    font-weight: 600;
}

.donate .btn {
    font-size: 1rem;
    border-radius: 20px;
    padding: 5px 20px;
}

.donate .btn i {
    color: #fff;
}

.donate-tab i {
    animation: 10s pulse 5s infinite; 
}

.nnrestapi-errors {
    max-width: 900px;
}

.nnrestapi-errors p {
    margin: 0;
}

.nnrestapi-errors i {
    color: #842029;
}

.nnrestapi-errors pre {
    margin-top: 0.5rem;
    background: #000;
}
.nnrestapi-errors code {
    margin-top: 0.5rem;
    background: transparent;
    color: #fff;
}

.card-body h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-body h2 {
    font-size: 1rem;
    font-weight: 600;
}

.card-header i {
    color: #aaa;
}

.card .access-icon {
    min-width: 45px;
    display: inline-block;
    text-align: center;
    color: #aaa;
    font-size: 0.8rem;
}

.access-icon.public {
    color: #69ad8d;
}

#hide-nnrestapi {
    margin-left: -1.5em;
}

.hide-nnrestapi .ext-nnrestapi {
    display: none;
}

.form-control.search {
    border-radius: 15px 0 0 15px;
    border-right: none;
    padding-left: 15px;
    height: 30px;
    font-size: 0.9rem;
}

.search ~ .input-group-append {
    border-left: none;
}

.search ~ .input-group-append .input-group-text {
    border-radius: 0 15px 15px 0;
    background: transparent;
}

.clear-icon {
    display: none;
    cursor: pointer;
}

.testbed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: 600px;
    background: #2d2d2d;
    color: #fff;
    font-size: 0.9rem;
}

.reqtype {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    flex: 1 1 90px;
    padding: 0.1rem 0.5rem;
    border: none;
    text-align: center;
    position: relative;
    z-index: 1;
}

.testbed .btn {
    font-size: 1rem;
}

.testbed label {
    padding: 0.5rem 0;
    min-width: 150px;
    margin: 0;
    color: #000;
}

.testbed .tab-pane {
    background: #ededed;
}

.testbed .nav-link {
    margin: 0;
    color: #000 !important;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    border-radius: 0;
    padding: 10px 15px 6px 15px;
}

.testbed .nav-tabs > li {
    margin-left: 0;
}


.files {
    color: #000;
}

input[type=file] {
    display: block;
    border: 1px solid #ced4da;
    margin: 0;
    min-height: 100%;
}

main {
    width: calc(100vw - 650px);
}

.compose-body textarea {
    min-height: 200px;
    padding: 1rem;
}

.details span {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 0.1s all;
}

.path:hover {
    opacity: 0.7;
}

.details:hover span {
    opacity: 1;
} 

.rescode {
    background: #444;
    border-bottom: 1px solid #555;
    padding: .5rem 1rem;
}

.exception {
    display: none;
}

.show-exception .exception {
    display: block;
}

.show-exception .result {
    display: none;
}

.result-panel,
.result-panel pre {
    background: #000;
}

.result-panel .toolbar {
    display: none;
}

.result-panel .code-toolbar {
    height: 100%;
}

.reqbody {
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 0.9rem;
}

.resbody {
    min-height: 250px;
    overflow-y: auto;
    background: #000;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}

.card-header {
    background: linear-gradient(45deg, #e8e8e8, #f4f4f4);
}
.card-header h2 {
    font-size: 0.9rem;
}
.card-header a {
    display: flex !important;
    align-items: center;
}

.example .code-toolbar {
    margin-top: 0.5rem;
}

.req-type:before {
    content: '';
    min-width: 50px;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    font-style: normal;
    border-radius: 2px;
    background: #f5f5f5;
    padding: 7px 5px;
    display: inline-flex;
    margin: 0 10px 0 0;
}

.endpoints {
    font-size: 0.9rem;
}

.endpoints .req-type-get:before {
    content: 'get';
    background: #60aefe;
}
.endpoints .req-type-post:before {
    content: 'post';
    background: #4acb91;
}
.endpoints .req-type-put:before {
    content: 'put';
    background: #fba12f;
}
.endpoints .req-type-patch:before {
    content: 'patch';
    background: #4fe2c2;
}
.endpoints .req-type-delete:before {
    content: 'del';
    background: #f93f3e;
}
.req-type-get .reqtype {
    background: #60aefe;
}
.req-type-post .reqtype {
    background: #4acb91;
}
.req-type-put .reqtype {
    background: #fba12f;
}
.req-type-patch .reqtype {
    background: #4fe2c2;
}
.req-type-delete .reqtype {
    background: #f93f3e;
}
.req-type-delete [data-target=".compose-body"], 
.req-type-delete [data-target=".compose-files"],
.req-type-get [data-target=".compose-body"], 
.req-type-get [data-target=".compose-files"] {
    text-decoration: line-through !important;  
    opacity: 0.6;  
}
.req-type-delete .compose-body, 
.req-type-delete .compose-files,
.req-type-get .compose-body, 
.req-type-get .compose-files {
    opacity: 0.8;
    pointer-events: none;
}

.compose.pump .req-type {
    animation: pump-down 0.3s;
}
.request-form.pump .reqtype {
    animation: 0.3s pump-up 0.3s;
}

.url {
    position: relative;
}

.progress-bar {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    height: 4px;
    bottom: 0;
    left: 0;
    display: none;
    background: #cabf39;
}

.loading .progress-bar {
    display: block;
}


.testbed .spinner {
    display: none;
    color: #fff;
}

.loading .spinner {
   display: block;
}

.loading .result-panel {
    opacity: 0.2;
}

b, strong {
    font-weight: 600;
}

.access-list {
    list-style: none;
    margin: 0;
    padding: 2px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.access-list li {
    padding: 0 15px 0 0;
}
.access-list i {
    margin-right: 5px;
}

.table-sm td, .table-sm th {
   padding: 0.3rem 0.7rem;
}

.auth-form {
    opacity: 0;
    transition: 0.2s all;
}

.logout .form-control {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.feuser-loaded .auth-form {
    opacity: 1;
}
.auth-form .logout {
    display: none;
}
.feuser-exists .auth-form .logout {
    display: block;
}
.feuser-exists .auth-form .login {
    display: none;
}

.kickstarts h3 {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 0 0.25rem 0;
}

.kickstart-packages .item {
    border: 1px dotted #cee7e4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.kickstart-packages .item .text {
    transition: ease-in 0.2s all;
}

.kickstart-packages .item .info {
    position: relative;
}

.kickstart-packages .actions {
    opacity: 0;
    transition: ease-out 0.2s all;
    transform: translateX(40px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.kickstart-packages .item:hover .actions {
    transform: translateX(0);
    opacity: 1;
}
.kickstart-packages .item:hover .text {
    transform: translateX(-20px);
    opacity: 0;
}

.kickstart-packages .actions a,
.kickstart-packages .actions a:hover {
    border-radius: 3px;
    color: #fff;
    background: #15b5a2;
    transition: 0.2s all;
}

.kickstart-packages .actions a:hover {
    transform: scale(1.05);
}

.kickstart-packages p {
    margin: 0;
}

.kickstart-packages .icon {
    font-size: 1.6rem;
    width: 70px;
    height: 70px;
    background-color: #cee7e4;
    border: 1px solid #c3dfdc;
    transition: 0.2s all;
}
.kickstart-packages .icon,
.kickstart-packages .icon i {
    color: #15b5a2;
}

.kickstart-packages .icon i {
    font-size: 1.5rem;
}

.kickstart-packages a:hover .icon {
    transform: scale(1.1);
}

.kickstart-packages a:hover {
    text-decoration: none;
    color: inherit;
}

.kickstart-packages .add-info {
    pointer-events: none;
}

.kickstart-packages .add-info .icon {
    background: #eee;
    border: none;
    box-shadow: none;
}

.kickstart-packages .add-info .icon i {
    color: #bbb;
}

.modal.fade.show {
    opacity: 1;
}

@keyframes pump-up {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

@keyframes pump-down {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
} 

@keyframes pulse {
    0% { transform: scale(1); }
    2% { transform: scale(1.4) rotate(-5deg); color: #708faf; }
    4% { transform: scale(1); color: #aaa; }
    100% { transform: scale(1); }
} 